    .App {
        text-align: center;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    body {
        color: White;
        background-color: #4103DB;
    }
    
    .main-quiz-body {
        background-color: #ffffff;
        color: black;
        padding: 10px;
        border-radius: 10px;
    }
    
    .btn {
        margin-top: 25px;
        padding: 10px;
        background-color: #4103DB;
        color: white;
        font-weight: bold;
        outline: none;
        border-color: #4103DB;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #734ed3;
        border-color: #734ed3;
        transition: 0.2s ease-in-out;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }